<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
                  host="*" />

    <library id="MySQLLib">
        <fileset dir="/opt/ol/wlp/lib/" includes="mysql-connector-java-8.0.20.jar"></fileset>
    </library>

    <dataSource id="testConn"
                jndiName="jdbc/testConn"
                type="javax.sql.DataSource">
        <jdbcDriver libraryRef="MySQLLib"></jdbcDriver>
        <properties
                databaseName="testdb"
                serverName="mariadb"
                portNumber="3306"
                user="user1"
                password="user1">
        </properties>
    </dataSource>
 
</server>
